@import "./base/reset";
@import "./base/variables";
@import "./base/typography";

h1,
h2 {
  font-family: "Young Serif";
  font-weight: 500;
}

body {
  background-color: $stone-100;
}

main {
  background-color: $white;
  margin: 8% 16%;
  border-radius: 36px;
  border: none;
}

.image-container {
  padding: 40px;
}

img {
  width: 100%;
  border-radius: 16px;
}

h1 {
  font-size: 3rem;
  color: $stone-900;
  margin: 0 40px 0 40px;
}

.recipe-description {
  margin: 25px 40px;
}

.preparation-time-container {
  background-color: $rose-50;
  padding: 30px;
  margin: 40px;
  border-radius: 14px;
}

h3 {
  font-size: 1.25rem;
  color: $rose-800;
  margin-bottom: 20px;
}

.preparation-time-list {
  margin: 20px 20px 0 36px;
  list-style: none;

  li {
    padding: 5px;
    position: relative;

    &:before {
      content: "•";
      position: absolute;
      left: -30px;
      top: 3px;
      color: $rose-800;
      font-size: 1.2rem;
    }
  }
}

.bold-text {
  font-weight: 700;
}

h2 {
  margin: 30px;
  font-size: 2rem;
  color: $brown-800;
}

.ingredients-list {
  list-style: none;
  margin: 20px 40px 30px 70px;

  li {
    padding: 5px;
    position: relative;

    &:before {
      content: "•";
      position: absolute;
      left: -30px;
      top: 3px;
      color: $brown-800;
      font-size: 1.2rem;
    }
  }
}

hr {
  width: 92%;
  margin: 0 auto;
  border: none;
  height: 1px;
  background-color: $stone-150;
}

.instructions-list {
  margin: 30px 55px;
  padding-left: 0;
  list-style: none; // sakrij originalne brojeve
  counter-reset: broj;

  li {
    line-height: 1.5rem;
    counter-increment: broj;
    margin-bottom: 12px;
    padding-left: 24px;
    position: relative;

    &::before {
      content: counter(broj) ".";
      position: absolute;
      left: -12px;
      top: 0;
      font-weight: 700;
      color: $brown-800;
      text-align: right;
    }
  }
}

.nutrition-description {
  margin: -10px 30px 20px 30px;
}

.nutrition-table {
  width: 92%;
  margin: 20px auto;
  border-collapse: collapse;

  td {
    padding: 10px;
    text-align: left;
    border: none;
  }
  tr {
    border-bottom: 1px solid $stone-150;

    &:last-child {
      border: none;
    }
  }
}

.nutrition-table-number {
  font-weight: 700;
  color: $brown-800;
}

.attribution {
  padding: 40px 30px 30px 30px;
}
